<style>
  .content-box {
    transform:
      perspective(800px)
      rotateY(25deg) scale(0.9)
      rotateX(10deg);
    transition: 0.6s ease all;
  }

  .content-box:hover {
    transform:
      perspective(800px)
      rotateY(-15deg)
      translateY(-20px)
      rotateX(10deg)
  }
</style>

<section class="pb-8">
    <div class="flex items-center flex-col pt-4 bg-[#1681f5] text-white font-bold">
      <h1 class="text-3xl pb-3">GamificApps</h1>
      <h3 class="pb-5 text-center">Aplicaciones y herramientas para llevar las gamificaciones al siguiente nivel.</h3>
    </div>

    <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6 gap-4 p-8 max-w-7xl mx-auto">
      {{ collection:gamificapps }}
      <div class="bg-neutral-300 p-4 rounded-lg flex justify-center items-center shadow-md content-box">
        <a href="{{ url }}">
          <img src="{{ app_image }}" class="max-w-full h-auto object-contain aspect-square">
        </a>
      </div>
      {{ /collection:gamificapps }}
    </div>
  </section>
